<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scene</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/static/js/script.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <table id="instances">
        <thead>
          <tr>
            <th>Instanz</th>
            <th>Description</th>
            <th>Whatever</th>
            <th>Buttons</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    <form id="createInstance">
        <button type="submit">Create</button>
    </form>
    <div id="space" style="height: 10px;"></div>
    <div id="mymodell" style="width: 500px;">
      {% macro buildFlow(flow) %}
      {% for call in flow %}
        {% if(call['key'].startswith('a')) %}

          <div id="{{ call['key'] }}" class="normal">{{ call['label'] }}</div>

        {% elif(call['key'].startswith('t')) %}

          <div id="{{ call['key'] }}" class="normal">{{ call['time'] }}</div>

        {% elif(call['key'].startswith('loop')) %}

          <div id="{{ call['key'] }}">
            <div id="{{ call['key'] + '_start'}}" class="normal">Start Loop</div>
                {{ buildFlow(call['flow']) }}
            <div id="{{ call['key'] + '_end'}}" class="normal">End Loop</div>
          </div>
        
        {% elif(call['key'].startswith('exclusive')) %}

          <div id="{{ call['key'] }}">
            <div id="{{ call['key'] + '_start'}}" class="normal">Start Exclusive</div>
              {% for p_key in call['paths'] %}
              <div id="{{ call['key'] + '_' +  p_key }}" class="multiple">
                <div id="{{ call['key'] + '_' +  p_key + '_ec'}}" class="normal">{{ call['entry_condition'] }}</div>
                {{ buildFlow(call['paths'][p_key]['flow']) }}
              </div>
              {% endfor %}
            <div id="{{ call['key'] + '_end'}}" class="normal multiple_end">End Exclusive</div>
          </div>

        {% endif %}
      {% endfor %}
      {% endmacro %}
      {{ buildFlow(process['process']['flow']) }}
    </div>
</body>
</html>
